@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

h1,
h3 {
  font-family: 'Comfortaa', cursive;
  color: #ffffff;
  text-align: center;
}

h2
{
  font-family: 'Comfortaa', cursive;
  color: #ffffff;
  margin-top: 18px;
  font-size:24px;
  letter-spacing:2px;
  font-weight: normal;
  text-align: center;
}

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Comfortaa', cursive;
}


body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(23deg, rgba(0,0,0,1) 0%,
                      rgba(4,37,38,1) 30%,
                      rgba(110,11,61,1) 100%);
    background-attachment: fixed;

}

a {
    font-family: 'Comfortaa', cursive;
    outline: none;
    text-decoration: none;
    transition:0.5s;
}

a:link{
    color: white;
}
a:visited{
    color: white;
}

a:hover{
    color: #058d7c;

}

#main-logo {
    font-size: 4rem;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    color: #ffffff;
}

#main-logo-beautiful {
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
    text-decoration: none;
    color: #e80765;
}

.waiter-item {
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 2rem;
  color: white;
  border-radius: 4px;
  list-style: none;
}

.waiter-details {
  font-family: 'Comfortaa', cursive;
  color: white;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  text-align: left;
}

.box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}

.alternate {
  box-sizing: border-box;
}

p {
  font-family: 'Comfortaa', cursive;
  color: white;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 30px;
  text-align: center;
}


#main-header {
    font-size: 1.5rem;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 2rem 0;
}

#main-header h1 {
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
}

.waiter-actions {
  margin-top: 1.5rem;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.waiter-actions .btn {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 0.75rem 2rem;
  font-family: 'Comfortaa', cursive;
}

.waiter-details {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
  display: table;
  margin: auto;
}

.menu ul{
    top: 120px;
    right: 115px;
    position: absolute;
    word-spacing: 1px;
    font-family: 'Comfortaa', cursive;
    outline: none;
    text-decoration: none;
    --width:170px;
    --height:70px;
    width: var(--width);
    height: var(--height);
    line-height:var(--height);
    padding: 0;
    border: none;
    text-align: right;
    list-style-type: none;
    font-size:24px;
    letter-spacing:2px;
    transition:2s;
    background-color:transparent;
    border-color:transparent;
}

.menu ul:hover{
  outline:none;
  color: #058d7c;
  stroke: #058d7c;
  stroke-dashoffset:calc(1.5 * var(--height));
}

.button{
  --width:170px;
  --height:70px;
  top: 50px;
  right: 80px;
  position: absolute;
  width: var(--width);
  height: var(--height);
  line-height:var(--height);
  color: #e80765;
  padding: 0;
  border: none;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size:24px;
  letter-spacing:2px;
  text-decoration:none;
  transition:2s;
  background-color:transparent;
  border-color:transparent;
}
.button:hover,
.button:focus{
  outline:none;
  color: #058d7c
}
.button-svg,
.button-rect{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill:none;
}
.button-rect{
  stroke: #e80765;
  stroke-width:5;
  stroke-dasharray:var(--height) var(--width);
  stroke-dashoffset:calc(
      2 * var(--width) + 2.5* var(--height)
    );
  transition:2s;
}
.button:hover .button-rect,
.button:focus .button-rect{
  stroke: #058d7c;
  stroke-dashoffset:calc(1.5 * var(--height));
}

.thumb img{
    margin-right: 10px;
    margin-bottom: 10px;
    height: 180px;
    width: 180px;
    border-radius: 100%;
}

.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  margin-top: 100px;
  padding: 0 8px;
  display: inline-block;
}

.container {
  padding: 0 16px;
    color: white;
    text-align: center
}

.container::after, .row::after {
  clear: both;
  display: table;
}

.description {
    padding: 20px; /* Поля */
    width: 400px;
    display: block;
    margin: 0 auto;
    background: transparent; /* Цвет фона */
    border: none; /* Параметры рамки */
   }



