{% extends 'tips/base/base.html' %}
{% load static %}

{% block title %}Waiters List{% endblock %}
{% block site_css %}
    <link rel="stylesheet" href="{% static 'tips/styles/basis.css' %}">
{% endblock %}

{% block header_content %}
    <p>Leaving a tip can be Crypto-Cool!</p>
{% endblock %}

{% block body %}
    <section>
                <h2>Choose your waiter!</h2>
                <ol>
                    {% for waiter_item in tips %}
                        <div class="column">
                            <div class="card">
                                <div class="container">
                        {% include 'tips/includes/list_of_waiters.html' with user=waiter_item.user image=waiter_item.image.url%}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ol>
            </section>
{% endblock %}