{% load static %}

<!DOCTYPE html>
<html lang="en">


<header id="main-header">

  <nav><a href="/about" id="main-logo-beautiful">Only</a>
        <a href="/about"  id="main-logo"> tips</a></nav>

      <h1>{% block main_heading %}{% endblock %}</h1>
  {% block header_content %}{% endblock %}
</header>


<h2>Log in</h2>

<link href="{% static 'tips/styles/register.css' %}" rel="stylesheet">

<body>
    {% if form.errors %}
    <li class="errorlist">Incorrect username or password. Please try again</li>
    {% endif %}

    {% if next %}
        <li class="errorlist">Something went wrong</li>
    {% endif %}
<div>
    <form method="post" action="{% url "login" %}" class="signup-form">
        {% csrf_token %}
        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <p><a href="{% url "reset_password"%}" class="btn">Forgot password?</a></p>

        <p><input type="submit" value="Log in"></p>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

</div>
    <p><a href="{% url "register_choices"%}" class="btn">Create an account!</a></p>

</body>
</html>