{% load static %}

<link href="{% static 'tips/styles/reset_forms.css' %}" rel="stylesheet">

<header id="main-header">

  <nav><a href="/about" id="main-logo-beautiful">Only</a>
        <a href="/about" id="main-logo"> tips</a></nav>

      <h1>{% block main_heading %}{% endblock %}</h1>
  {% block header_content %}{% endblock %}
</header>

<h2>Password reset</h2>

<section id="details">
  <div class="description">Enter your email address below, and we’ll email instructions for setting a new password.</div>
</section>

<form method="post" class="signup-form">

 {% csrf_token %}
 {{form}}
 <input type="Submit" value="Send email" name="Send email">

</form>