{% load static %}

<link href="{% static 'tips/styles/reset_forms.css' %}" rel="stylesheet">

<header id="main-header">

  <nav><a href="/about" id="main-logo-beautiful">Only</a>
        <a href="/about"  id="main-logo"> tips</a></nav>

      <h1>{% block main_heading %}{% endblock %}</h1>
  {% block header_content %}{% endblock %}
</header>

<h2>Password reset sent</h2>

{% block body %}
<section id="details">
  <div class="description">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</div>
</section>


<section id="details">
   <div class="description">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</div>
</section>

{% endblock %}