{% load static %}

<link href="{% static 'tips/styles/reset_forms.css' %}" rel="stylesheet">

<header id="main-header">

  <nav><a  href="/about" id="main-logo-beautiful">Only</a>
        <a  href="/about" id="main-logo"> tips</a></nav>

      <h1>{% block main_heading %}{% endblock %}</h1>
  {% block header_content %}{% endblock %}
</header>

<h2>Password reset complete</h2>

{% block body %}

<section id="details">
  <div class="description">You may go ahead and log in now.</div>
</section>


<p><a href="{% url "login"%}" class="btn">Log in</a></p>

{% endblock %}